<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		<tbody>
  		  <tr>
          <td><%= link_to(@books.user) do %>
            <%= image_tag @books.user.get_profile_image, size:"50x50" %><br>
            <%= @books.user.name %>
            <% end %>
          </td>
          <td><%= link_to @books.title, @book %></td>
          <td><%= @books.body %></td>
          <td>
　　      <% if @books.category.present? %>
　　　　  <%=link_to@books.category,tagsearches_search_path(content:@book.category)%>
　　      <% end %>
          </td>

          <% if @user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@books), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @books, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            <% end %>
            <td id="favorite<%= @books.id %>">
            <%= render 'favorites/favorite', book: @books %>
            </td>
            <td>コメント件数:<span id="comment_counter"><%= @books.book_comments.count %></span></td>
            <td><%= render "static_rate", book: @books %></td>
        </tr>




         <td id="book_comments">
         <%= render 'book_comments/show', books: @books, book_comment: @book_comment %>
         </td>

        </tbody>
        </div>
        </table>


      <td id="comment-form">
      <%= render 'book_comments/form', books: @books, book_comment: @book_comment %>
      </td>
      </div>

  </div>
</div>